// COLORS
$blue: rgb(43, 112, 187);
$green: rgb(60, 184, 120);
$grey: rgb(192, 196, 200);


// SIZES
$fontSizeInitial: 16px;
$fontSizeBig: 22px;
$fontSizeSmall: 14px;
$fontSizeXSmall: 12px;

// SCREENS
$mobile: "only screen and (max-width: 760px)";
