@import "compass";
@import "mixins";
@import "variables";

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}

body{
	background-image: image-url("banner.jpg");
	background-repeat: no-repeat;
	background-size: container;
}

@import "containers";
@import "ui";
@import "header";

#main{
	@import "sections/index";
	@import "sections/register";
	@import "sections/edit";
	@import "sections/services";
	@import "sections/orders";
	@import "sections/budgets";
	@import "sections/about-us";
	@import "sections/faq";
	@import "sections/contact";
}

@import "footer";
