@import "compass";
@import "mixins";
@import "variables";

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}

body{
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
	     -o-font-smoothing: antialiased;
	     	font-smoothing: antialiased;
	@media #{$mobile}{
		height: 100%;
	}
}

@import "containers";
@import "ui";
@import "header";

#main{
	background-image: image-url("banner.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 0px;
	padding-top: 20px;
	@media #{$mobile}{
		background: none;
	}
	@import "sections/index";
	@import "sections/register";
	@import "sections/login";
	@import "sections/edit";
	@import "sections/services";
	@import "sections/orders";
	@import "sections/budgets";
	@import "sections/about-us";
	@import "sections/faq";
	@import "sections/contact";
}

@import "footer";
