@import "compass";
@import "vendor/semantic.gs";
@import "mixins";
@import "variables";

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}

.container, .container-small{
	height: 100%;
	margin: 0 auto;
	max-width: 960px;
	position: relative;
}

.container-small{
	max-width: 900px;
}

.whiteBackground{
	background: white;
	border: 1px solid #999;
	// Aplicar al primer hijo
	// padding: 42px;
}

@import "header";

#main{
	@import "sections/index";
	@import "sections/register";
	@import "sections/services";
}

@import "footer";
