/* line 41, ../sass/vendor/_semantic.gs.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 26, ../sass/vendor/_semantic.gs.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../sass/vendor/_semantic.gs.scss */
body:after {
  clear: both;
}

/* line 6, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/screen.scss */
.container, .container-small {
  height: 100%;
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

/* line 20, ../sass/screen.scss */
.container-small {
  max-width: 900px;
}

/* line 24, ../sass/screen.scss */
.upper {
  margin: 20px auto;
}
/* line 26, ../sass/screen.scss */
.upper h3 {
  margin: 15 auto;
  text-align: center;
  text-transform: uppercase;
}
/* line 31, ../sass/screen.scss */
.upper p {
  font-size: 12px;
  margin: 0 auto 10px 0;
  text-align: center;
}

/* line 38, ../sass/screen.scss */
.whiteBackground {
  background: white;
  border: 1px solid #d0d0d0;
  border-radius: 4px 4px 0 0;
  padding: 42px;
}

/* line 46, ../sass/screen.scss */
.greyBackground {
  background: whitesmoke;
  border: 1px solid #d0d0d0;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 1px 2px #d1d1d1;
  padding: 42px;
}
/* line 52, ../sass/screen.scss */
.greyBackground h3 {
  color: #2f66b5;
  font-weight: 300;
  margin: 22px 0 30px 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 59, ../sass/screen.scss */
.greyBackground p {
  color: #191919;
  font-size: 12px;
  text-align: center;
}
/* line 63, ../sass/screen.scss */
.greyBackground p a {
  color: #487fcf;
  text-decoration: none;
}

/**
 * UI
 */
/* line 80, ../sass/screen.scss */
.btn, input[type='submit'] {
  background: #2f66b5;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin: 15px 15px 15px 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}
/* line 92, ../sass/screen.scss */
.btn.grey, input.grey[type='submit'] {
  background: #c0c4c8;
}
/* line 95, ../sass/screen.scss */
.btn.green, input[type='submit'] {
  background: #34ad65;
}

/* line 99, ../sass/screen.scss */
label, input {
  font-size: 12px;
}

/* line 102, ../sass/screen.scss */
label {
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 22px;
}

/* line 107, ../sass/screen.scss */
input {
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  padding: 14px 22px;
}
/* line 112, ../sass/screen.scss */
input[type='checkbox'] {
  display: inline;
}

/* line 120, ../sass/screen.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 10px 0 0;
  outline: none;
  padding: 14px 62px 14px 22px;
}

/* line 1, ../sass/_header.scss */
header {
  font-size: 12px;
}
/* line 3, ../sass/_header.scss */
header nav {
  background-color: #414a51;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF414A51', endColorstr='#FF262B2F');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #414a51), color-stop(2%, #384148), color-stop(5%, #374047), color-stop(90%, #32393f), color-stop(98%, #313a41), color-stop(100%, #262b2f));
  background-image: -webkit-linear-gradient(top, #414a51 0%, #384148 2%, #374047 5%, #32393f 90%, #313a41 98%, #262b2f 100%);
  background-image: -moz-linear-gradient(top, #414a51 0%, #384148 2%, #374047 5%, #32393f 90%, #313a41 98%, #262b2f 100%);
  background-image: -o-linear-gradient(top, #414a51 0%, #384148 2%, #374047 5%, #32393f 90%, #313a41 98%, #262b2f 100%);
  background-image: linear-gradient(top, #414a51 0%, #384148 2%, #374047 5%, #32393f 90%, #313a41 98%, #262b2f 100%);
  border-bottom: 1px solid #1d2024;
  color: #646469;
  text-transform: uppercase;
  width: 100%;
}
/* line 9, ../sass/_header.scss */
header nav .phone_support {
  color: white;
  display: inline-block;
  padding: 10px 0;
}
/* line 14, ../sass/_header.scss */
header nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
/* line 20, ../sass/_header.scss */
header nav ul li {
  display: inline-block;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  vertical-align: top;
}
/* line 27, ../sass/_header.scss */
header nav ul li.home {
  border-right: 1px solid #1d2024;
  box-shadow: 0 1px 0 #2d3237;
  height: 34px;
  padding: 0 22px 0 0;
  width: 35px;
}
/* line 34, ../sass/_header.scss */
header nav ul li.active, header nav ul li:hover {
  box-shadow: inset 0 2px 0 #2f66b5;
  color: white;
}
/* line 38, ../sass/_header.scss */
header nav ul li a {
  color: inherit;
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}
/* line 48, ../sass/_header.scss */
header .header_wrapper {
  background-color: #feffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFFFF', endColorstr='#FFFEFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feffff), color-stop(53%, #ffffff), color-stop(74%, #fbfbfb), color-stop(78%, #fbfbfd), color-stop(80%, #fafafa), color-stop(86%, #f9f9f9), color-stop(94%, #f8f9fb), color-stop(98%, #f7f9f8), color-stop(99%, #f8faf9), color-stop(100%, #feffff));
  background-image: -webkit-linear-gradient(top, #feffff 0%, #ffffff 53%, #fbfbfb 74%, #fbfbfd 78%, #fafafa 80%, #f9f9f9 86%, #f8f9fb 94%, #f7f9f8 98%, #f8faf9 99%, #feffff 100%);
  background-image: -moz-linear-gradient(top, #feffff 0%, #ffffff 53%, #fbfbfb 74%, #fbfbfd 78%, #fafafa 80%, #f9f9f9 86%, #f8f9fb 94%, #f7f9f8 98%, #f8faf9 99%, #feffff 100%);
  background-image: -o-linear-gradient(top, #feffff 0%, #ffffff 53%, #fbfbfb 74%, #fbfbfd 78%, #fafafa 80%, #f9f9f9 86%, #f8f9fb 94%, #f7f9f8 98%, #f8faf9 99%, #feffff 100%);
  background-image: linear-gradient(top, #feffff 0%, #ffffff 53%, #fbfbfb 74%, #fbfbfd 78%, #fafafa 80%, #f9f9f9 86%, #f8f9fb 94%, #f7f9f8 98%, #f8faf9 99%, #feffff 100%);
  border-bottom: 1px solid #cfd0d3;
  font-size: 0;
  height: 90px;
  width: 100%;
}
/* line 54, ../sass/_header.scss */
header .header_wrapper .section {
  box-shadow: inset -1px 0 0 #e1e1e1;
  display: inline-block;
  font-size: initial;
  height: 100%;
  position: relative;
  width: 25%;
}
/* line 64, ../sass/_header.scss */
header .header_wrapper .section a {
  color: inherit;
  display: block;
  font-size: 0.8em;
  height: 2em;
  margin: auto;
  position: absolute;
  max-width: 60%;
  text-decoration: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 74, ../sass/_header.scss */
header .header_wrapper .section a span {
  display: block;
  text-align: left;
}
/* line 77, ../sass/_header.scss */
header .header_wrapper .section a span:first-of-type {
  font-weight: bold;
}

/* line 2, ../sass/sections/_index.scss */
#main #index .index_wrapper {
  background: #2f66b5;
  border-bottom: 1px solid #333;
  font-size: 0;
  padding: 40px 0;
}
/* line 7, ../sass/sections/_index.scss */
#main #index .index_wrapper .index_highlight {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 33.33333%;
}
/* line 13, ../sass/sections/_index.scss */
#main #index .index_wrapper .index_highlight img {
  display: block;
  height: 250px;
  margin: 0 auto 10px auto;
  width: 250px;
}
/* line 19, ../sass/sections/_index.scss */
#main #index .index_wrapper .index_highlight span {
  color: #868688;
  display: block;
  font-size: 14px;
  text-align: center;
}
/* line 27, ../sass/sections/_index.scss */
#main #index h3 {
  color: #2f66b5;
  font-weight: bold;
  margin: 40px 0 20px 0;
  text-align: center;
}
/* line 33, ../sass/sections/_index.scss */
#main #index h4 {
  color: #999;
  text-align: center;
}
/* line 37, ../sass/sections/_index.scss */
#main #index form {
  margin: 0;
  padding: 10px;
  text-align: center;
}
/* line 43, ../sass/sections/_index.scss */
#main #index .index_slider ul {
  margin: 0;
  padding: 0;
}
/* line 46, ../sass/sections/_index.scss */
#main #index .index_slider ul li {
  display: inline-block;
  height: 160px;
  margin: 0;
  padding: 10px;
  vertical-align: top;
  width: 160px;
}
/* line 53, ../sass/sections/_index.scss */
#main #index .index_slider ul li img {
  height: 100%;
  width: 100%;
}
/* line 57, ../sass/sections/_index.scss */
#main #index .index_slider ul li span {
  display: block;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
}
/* line 2, ../sass/sections/_register.scss */
#main #register .title {
  color: #2f66b5;
  font-weight: 300;
  margin: 15px 0;
}
/* line 7, ../sass/sections/_register.scss */
#main #register .section {
  border-bottom: 1px solid #e1e1e1;
  margin: 25px 0 30px 0;
}
/* line 10, ../sass/sections/_register.scss */
#main #register .section h3 {
  color: #2f66b5;
  font-size: 12px;
  font-weight: 600;
  margin: 15px 0;
  text-transform: uppercase;
}
/* line 17, ../sass/sections/_register.scss */
#main #register .section .account_type label {
  padding: 0 15px 0 10px;
}
/* line 20, ../sass/sections/_register.scss */
#main #register .section .row, #main #register .section .row-2 {
  padding-bottom: 20px;
}
/* line 22, ../sass/sections/_register.scss */
#main #register .section .row div, #main #register .section .row-2 div {
  display: inline-block;
  padding-right: 30px;
  vertical-align: top;
  width: 25%;
}
/* line 26, ../sass/sections/_register.scss */
#main #register .section .row div label, #main #register .section .row div input, #main #register .section .row-2 div label, #main #register .section .row-2 div input {
  width: 100%;
}
/* line 28, ../sass/sections/_register.scss */
#main #register .section .row div label[type='checkbox'], #main #register .section .row div input[type='checkbox'], #main #register .section .row-2 div label[type='checkbox'], #main #register .section .row-2 div input[type='checkbox'] {
  display: inline;
  margin-right: 10px;
  width: auto;
}
/* line 34, ../sass/sections/_register.scss */
#main #register .section .row div span, #main #register .section .row-2 div span {
  font-size: 12px;
  padding: 0 10px;
}
/* line 42, ../sass/sections/_register.scss */
#main #register .section .row-2 div {
  width: 50%;
}
/* line 2, ../sass/sections/_services.scss */
#main #services .service {
  border-bottom: 1px solid #999;
  margin: 0 0 30px 0;
}
/* line 5, ../sass/sections/_services.scss */
#main #services .service:last-of-type {
  margin: 0;
}
/* line 8, ../sass/sections/_services.scss */
#main #services .service div {
  display: inline-block;
  vertical-align: top;
}
/* line 11, ../sass/sections/_services.scss */
#main #services .service div:nth-of-type(1) {
  padding-right: 30px;
}
/* line 14, ../sass/sections/_services.scss */
#main #services .service div:nth-of-type(2) {
  width: -webkit-calc(100% - 250px);
  width: -moz-calc(100% - 250px);
  width: -o-calc(100% - 250px);
  width: calc(100% - 250px);
}
/* line 17, ../sass/sections/_services.scss */
#main #services .service div h3 {
  color: #2f66b5;
  font-weight: 300;
  margin: 2px 0;
  text-transform: uppercase;
}
/* line 23, ../sass/sections/_services.scss */
#main #services .service div p {
  font-size: 14px;
}
/* line 26, ../sass/sections/_services.scss */
#main #services .service div .similar_link {
  background: #2f66b5;
  border-radius: 2px;
  color: white;
  display: block;
  font-size: 12px;
  margin: 15px 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 190px;
}
/* line 1, ../sass/sections/_orders.scss */
#main #orders {
  padding: 0;
}
/* line 3, ../sass/sections/_orders.scss */
#main #orders nav.steps {
  display: block;
  width: 100%;
}
/* line 6, ../sass/sections/_orders.scss */
#main #orders nav.steps ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 10, ../sass/sections/_orders.scss */
#main #orders nav.steps ul li {
  background: #f6f7fa;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  width: 33.33333%;
}
/* line 20, ../sass/sections/_orders.scss */
#main #orders nav.steps ul li.active {
  background: white;
}
/* line 22, ../sass/sections/_orders.scss */
#main #orders nav.steps ul li.active span {
  background: #215aaa;
  border: 1px solid #f6f7fa;
  color: white;
}
/* line 28, ../sass/sections/_orders.scss */
#main #orders nav.steps ul li span {
  border: 1px solid #818284;
  border-radius: 50%;
  color: #818284;
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  padding: 1px 5px;
  vertical-align: top;
  width: 20px;
}
/* line 42, ../sass/sections/_orders.scss */
#main #orders form {
  padding: 42px;
}

/* line 1, ../sass/_footer.scss */
footer {
  color: #8e8e8e;
  font-size: 12px;
  padding-bottom: 40px;
}
/* line 5, ../sass/_footer.scss */
footer ul {
  border-bottom: 1px solid #eaeaea;
  margin: 0 0 10px 0;
  padding: 20px 0;
}
/* line 9, ../sass/_footer.scss */
footer ul li {
  display: inline-block;
  padding: 0 22px 0 0;
}
/* line 12, ../sass/_footer.scss */
footer ul li a {
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 17, ../sass/_footer.scss */
footer ul li a.active, footer ul li a:hover {
  color: #2f66b5;
}

/*@ sourceMappingURL=screen.css.map */