/* line 5, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/screen.scss */
body {
  background-image: url('/img/banner.jpg');
  background-repeat: no-repeat;
  background-size: container;
}

/* line 1, ../sass/_containers.scss */
.container, .container-small {
  height: 100%;
  margin: 0 auto;
  max-width: 960px;
  position: relative;
}

/* line 8, ../sass/_containers.scss */
.container-small {
  max-width: 900px;
}

/* line 12, ../sass/_containers.scss */
.upper {
  margin: 20px auto;
}
/* line 14, ../sass/_containers.scss */
.upper h3 {
  margin: 15 auto;
  text-align: center;
  text-transform: uppercase;
}
/* line 19, ../sass/_containers.scss */
.upper p {
  font-size: 12px;
  margin: 0 auto 10px 0;
  text-align: center;
}

/* line 26, ../sass/_containers.scss */
.whiteBackground {
  background: white;
  border: 1px solid #d0d0d0;
  border-radius: 4px 4px 0 0;
  padding: 42px;
}

/* line 33, ../sass/_containers.scss */
.bigBlue, #main #orders form h3 {
  color: #2f66b5;
  font-weight: 300;
  margin: 2px 0;
  text-transform: uppercase;
}

/* line 40, ../sass/_containers.scss */
.greyBackground {
  background: whitesmoke;
  border: 1px solid #d0d0d0;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 1px 2px #d1d1d1;
  padding: 42px;
}
/* line 46, ../sass/_containers.scss */
.greyBackground h3 {
  color: #2f66b5;
  font-weight: 300;
  margin: 22px 0 30px 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 53, ../sass/_containers.scss */
.greyBackground p {
  color: #191919;
  font-size: 12px;
  text-align: center;
}
/* line 57, ../sass/_containers.scss */
.greyBackground p a {
  color: #487fcf;
  text-decoration: none;
}

/*
 *	INPUTS
 */
/* line 6, ../sass/_ui.scss */
.btn, input[type='submit'], textarea[type='submit'], input[type='file']:after, textarea[type='file']:after {
  background: #2f66b5;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin: 15px 15px 15px 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}
/* line 18, ../sass/_ui.scss */
.btn.grey, input.grey[type='submit'], textarea.grey[type='submit'], input.grey[type='file']:after, textarea.grey[type='file']:after {
  background: #c0c4c8;
}
/* line 21, ../sass/_ui.scss */
.btn.green, input[type='submit'], textarea[type='submit'], input.green[type='file']:after, textarea.green[type='file']:after {
  background: #34ad65;
}

/* line 25, ../sass/_ui.scss */
label, input, textarea, select {
  font-size: 12px;
}

/* line 28, ../sass/_ui.scss */
label {
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 22px;
}

/* line 33, ../sass/_ui.scss */
input, textarea {
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  padding: 14px 22px;
}
/* line 38, ../sass/_ui.scss */
input[type='checkbox'], textarea[type='checkbox'] {
  display: inline;
}
/* line 45, ../sass/_ui.scss */
input[type='file'], textarea[type='file'] {
  background: none;
  border: none;
  font-size: 0;
  height: 44px;
  padding: 0;
  width: 103px;
}
/* line 52, ../sass/_ui.scss */
input[type='file']:after, textarea[type='file']:after {
  content: 'Examinar';
  font-size: 12px;
  height: 44px;
  margin: 0;
  left: 0;
  position: relative;
  top: 0;
  width: 103px;
}

/* line 65, ../sass/_ui.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 10px 0 0;
  outline: none;
  padding: 14px 62px 14px 22px;
}

/*
 * TABLES
 */
/* line 82, ../sass/_ui.scss */
table {
  font-size: 12px;
  width: 100%;
}
/* line 85, ../sass/_ui.scss */
table thead tr {
  background: white;
  border: 1px solid #e8e9e8;
  border-radius: 2px 2px 0 0;
  font-weight: bold;
}
/* line 90, ../sass/_ui.scss */
table thead tr td {
  padding: 20px 20px 15px 20px;
}
/* line 94, ../sass/_ui.scss */
table tbody tr {
  background: #f9f9f9;
  border: 1px solid #e8e9e8;
}
/* line 97, ../sass/_ui.scss */
table tbody tr td {
  padding: 20px 20px 15px 20px;
}

/*
 * SPANS
 */
/* line 107, ../sass/_ui.scss */
span.grey {
  color: #bebfc1;
}
/* line 110, ../sass/_ui.scss */
span.red {
  color: #e9453e;
}
/* line 113, ../sass/_ui.scss */
span.green {
  color: #208c46;
}

/* line 1, ../sass/_header.scss */
header {
  font-size: 12px;
}
/* line 3, ../sass/_header.scss */
header nav {
  background-color: #414a51;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF414A51', endColorstr='#FF262B2F');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #414a51), color-stop(2%, #384148), color-stop(5%, #374047), color-stop(90%, #32393f), color-stop(98%, #313a41), color-stop(100%, #262b2f));
  background-image: -webkit-linear-gradient(top, #414a51 0%, #384148 2%, #374047 5%, #32393f 90%, #313a41 98%, #262b2f 100%);
  background-image: -moz-linear-gradient(top, #414a51 0%, #384148 2%, #374047 5%, #32393f 90%, #313a41 98%, #262b2f 100%);
  background-image: -o-linear-gradient(top, #414a51 0%, #384148 2%, #374047 5%, #32393f 90%, #313a41 98%, #262b2f 100%);
  background-image: linear-gradient(top, #414a51 0%, #384148 2%, #374047 5%, #32393f 90%, #313a41 98%, #262b2f 100%);
  border-bottom: 1px solid #1d2024;
  color: #646469;
  text-transform: uppercase;
  width: 100%;
}
/* line 9, ../sass/_header.scss */
header nav .phone_support {
  background: url('/img/img_01.png') no-repeat;
  background-position: 0 6px;
  color: white;
  display: inline-block;
  padding: 10px 25px;
}
/* line 16, ../sass/_header.scss */
header nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
/* line 22, ../sass/_header.scss */
header nav ul li {
  display: inline-block;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  vertical-align: top;
}
/* line 29, ../sass/_header.scss */
header nav ul li.home {
  background: url('/img/img_02.png') no-repeat;
  background-position: 6px 6px;
  border-right: 1px solid #1d2024;
  box-shadow: 0 1px 0 #2d3237;
  height: 34px;
  padding: 0 22px 0 0;
  width: 35px;
}
/* line 38, ../sass/_header.scss */
header nav ul li.active, header nav ul li:hover {
  box-shadow: inset 0 2px 0 #2f66b5;
  color: white;
}
/* line 42, ../sass/_header.scss */
header nav ul li a {
  color: inherit;
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}
/* line 52, ../sass/_header.scss */
header .header_wrapper {
  background-color: #feffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFFFF', endColorstr='#FFFEFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feffff), color-stop(53%, #ffffff), color-stop(74%, #fbfbfb), color-stop(78%, #fbfbfd), color-stop(80%, #fafafa), color-stop(86%, #f9f9f9), color-stop(94%, #f8f9fb), color-stop(98%, #f7f9f8), color-stop(99%, #f8faf9), color-stop(100%, #feffff));
  background-image: -webkit-linear-gradient(top, #feffff 0%, #ffffff 53%, #fbfbfb 74%, #fbfbfd 78%, #fafafa 80%, #f9f9f9 86%, #f8f9fb 94%, #f7f9f8 98%, #f8faf9 99%, #feffff 100%);
  background-image: -moz-linear-gradient(top, #feffff 0%, #ffffff 53%, #fbfbfb 74%, #fbfbfd 78%, #fafafa 80%, #f9f9f9 86%, #f8f9fb 94%, #f7f9f8 98%, #f8faf9 99%, #feffff 100%);
  background-image: -o-linear-gradient(top, #feffff 0%, #ffffff 53%, #fbfbfb 74%, #fbfbfd 78%, #fafafa 80%, #f9f9f9 86%, #f8f9fb 94%, #f7f9f8 98%, #f8faf9 99%, #feffff 100%);
  background-image: linear-gradient(top, #feffff 0%, #ffffff 53%, #fbfbfb 74%, #fbfbfd 78%, #fafafa 80%, #f9f9f9 86%, #f8f9fb 94%, #f7f9f8 98%, #f8faf9 99%, #feffff 100%);
  border-bottom: 1px solid #cfd0d3;
  font-size: 0;
  height: 90px;
  width: 100%;
}
/* line 58, ../sass/_header.scss */
header .header_wrapper .section {
  box-shadow: inset -1px 0 0 #e1e1e1;
  display: inline-block;
  font-size: initial;
  height: 100%;
  position: relative;
  width: 25%;
}
/* line 65, ../sass/_header.scss */
header .header_wrapper .section.logo {
  background: url('/img/logo.png') no-repeat;
  background-position: center center;
}
/* line 69, ../sass/_header.scss */
header .header_wrapper .section.print_now {
  background: url('/img/img_05.png') no-repeat;
  background-position: 4px center;
}
/* line 73, ../sass/_header.scss */
header .header_wrapper .section.create_budget {
  background: url('/img/img_03.png') no-repeat;
  background-position: 4px center;
}
/* line 77, ../sass/_header.scss */
header .header_wrapper .section.faq {
  background: url('/img/img_04.png') no-repeat;
  background-position: 4px center;
}
/* line 81, ../sass/_header.scss */
header .header_wrapper .section a {
  color: inherit;
  display: block;
  font-size: 0.8em;
  height: 2em;
  margin: auto;
  position: absolute;
  max-width: 60%;
  text-decoration: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 91, ../sass/_header.scss */
header .header_wrapper .section a span {
  display: block;
  text-align: left;
}
/* line 94, ../sass/_header.scss */
header .header_wrapper .section a span:first-of-type {
  font-weight: bold;
}

/* line 2, ../sass/sections/_index.scss */
#main #index .index_wrapper {
  border-bottom: 1px solid #333;
  font-size: 0;
  padding: 40px 0;
}
/* line 6, ../sass/sections/_index.scss */
#main #index .index_wrapper .index_highlight {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 33.33333%;
}
/* line 12, ../sass/sections/_index.scss */
#main #index .index_wrapper .index_highlight img {
  display: block;
  height: 250px;
  margin: 0 auto 10px auto;
  width: 250px;
}
/* line 18, ../sass/sections/_index.scss */
#main #index .index_wrapper .index_highlight span {
  color: #868688;
  display: block;
  font-size: 14px;
  text-align: center;
}
/* line 26, ../sass/sections/_index.scss */
#main #index h3 {
  color: #2f66b5;
  font-weight: bold;
  margin: 40px 0 20px 0;
  text-align: center;
}
/* line 32, ../sass/sections/_index.scss */
#main #index h4 {
  color: #999;
  text-align: center;
}
/* line 36, ../sass/sections/_index.scss */
#main #index form {
  margin: 0;
  padding: 10px;
  text-align: center;
}
/* line 42, ../sass/sections/_index.scss */
#main #index .index_slider ul {
  margin: 0;
  padding: 0;
}
/* line 45, ../sass/sections/_index.scss */
#main #index .index_slider ul li {
  display: inline-block;
  height: 160px;
  margin: 0;
  padding: 10px;
  vertical-align: top;
  width: 160px;
}
/* line 52, ../sass/sections/_index.scss */
#main #index .index_slider ul li img {
  height: 100%;
  width: 100%;
}
/* line 56, ../sass/sections/_index.scss */
#main #index .index_slider ul li span {
  display: block;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
}
/* line 65, ../sass/sections/_index.scss */
#main #index .clients {
  text-align: center;
}
/* line 69, ../sass/sections/_index.scss */
#main #index .contact section {
  background: url('/img/img_18.png') no-repeat;
  background-position: center bottom;
  display: inline-block;
  min-height: 480px;
  vertical-align: top;
  width: 66.66667%;
}
/* line 77, ../sass/sections/_index.scss */
#main #index .contact form {
  display: inline-block;
  vertical-align: top;
  width: 33.33333%;
}
/* line 81, ../sass/sections/_index.scss */
#main #index .contact form div {
  margin-bottom: 10px;
}
/* line 83, ../sass/sections/_index.scss */
#main #index .contact form div input, #main #index .contact form div textarea {
  width: 100%;
}
/* line 88, ../sass/sections/_index.scss */
#main #index .contact .info {
  display: inline-block;
  min-height: 60px;
  padding-left: 80px;
  vertical-align: top;
  width: 50%;
}
/* line 94, ../sass/sections/_index.scss */
#main #index .contact .info.home {
  background: url('/img/img_15.png') no-repeat;
}
/* line 95, ../sass/sections/_index.scss */
#main #index .contact .info.phone {
  background: url('/img/img_16.png') no-repeat;
}
/* line 96, ../sass/sections/_index.scss */
#main #index .contact .info.digital {
  background: url('/img/img_17.png') no-repeat;
  width: 100%;
}
/* line 97, ../sass/sections/_index.scss */
#main #index .contact .info span {
  display: block;
  font-size: 14px;
}
/* line 100, ../sass/sections/_index.scss */
#main #index .contact .info span:first-of-type {
  color: #2f66b5;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 2, ../sass/sections/_register.scss */
#main #register .title {
  color: #2f66b5;
  font-weight: 300;
  margin: 15px 0;
}
/* line 7, ../sass/sections/_register.scss */
#main #register .section {
  border-bottom: 1px solid #e1e1e1;
  margin: 25px 0 30px 0;
}
/* line 10, ../sass/sections/_register.scss */
#main #register .section h3 {
  color: #2f66b5;
  font-size: 12px;
  font-weight: 600;
  margin: 15px 0;
  text-transform: uppercase;
}
/* line 17, ../sass/sections/_register.scss */
#main #register .section .account_type label {
  padding: 0 15px 0 10px;
}
/* line 20, ../sass/sections/_register.scss */
#main #register .section .row, #main #register .section .row-2 {
  padding-bottom: 20px;
}
/* line 22, ../sass/sections/_register.scss */
#main #register .section .row div, #main #register .section .row-2 div {
  display: inline-block;
  padding-right: 30px;
  vertical-align: top;
  width: 25%;
}
/* line 26, ../sass/sections/_register.scss */
#main #register .section .row div label, #main #register .section .row div input, #main #register .section .row-2 div label, #main #register .section .row-2 div input {
  width: 100%;
}
/* line 28, ../sass/sections/_register.scss */
#main #register .section .row div label[type='checkbox'], #main #register .section .row div input[type='checkbox'], #main #register .section .row-2 div label[type='checkbox'], #main #register .section .row-2 div input[type='checkbox'] {
  display: inline;
  margin-right: 10px;
  width: auto;
}
/* line 34, ../sass/sections/_register.scss */
#main #register .section .row div span, #main #register .section .row-2 div span {
  font-size: 12px;
  padding: 0 10px;
}
/* line 42, ../sass/sections/_register.scss */
#main #register .section .row-2 div {
  width: 50%;
}
/* line 1, ../sass/sections/_edit.scss */
#main #edit {
  background: whitesmoke;
  padding: 0;
}
/* line 4, ../sass/sections/_edit.scss */
#main #edit .edit-main {
  background: white;
  border-right: 1px solid #cccecc;
  display: inline-block;
  padding: 42px;
  vertical-align: top;
  width: -webkit-calc(100% - 180px);
}
/* line 11, ../sass/sections/_edit.scss */
#main #edit .edit-main .title {
  color: #2f66b5;
  font-weight: 300;
  margin: 15px 0;
}
/* line 16, ../sass/sections/_edit.scss */
#main #edit .edit-main h4 {
  color: #2f66b5;
  font-size: 12px;
  font-weight: 600;
  margin: 15px 0;
  text-transform: uppercase;
}
/* line 23, ../sass/sections/_edit.scss */
#main #edit .edit-main .section {
  border-bottom: 1px solid #e1e1e1;
  margin: 25px 0 30px 0;
}
/* line 26, ../sass/sections/_edit.scss */
#main #edit .edit-main .section h3 {
  color: #2f66b5;
  font-size: 12px;
  font-weight: 600;
  margin: 15px 0;
  text-transform: uppercase;
}
/* line 33, ../sass/sections/_edit.scss */
#main #edit .edit-main .section .account_type label {
  padding: 0 15px 0 10px;
}
/* line 36, ../sass/sections/_edit.scss */
#main #edit .edit-main .section .row, #main #edit .edit-main .section .row-2 {
  padding-bottom: 20px;
}
/* line 38, ../sass/sections/_edit.scss */
#main #edit .edit-main .section .row div, #main #edit .edit-main .section .row-2 div {
  display: inline-block;
  padding-right: 30px;
  vertical-align: top;
  width: 33.33333%;
}
/* line 42, ../sass/sections/_edit.scss */
#main #edit .edit-main .section .row div label, #main #edit .edit-main .section .row div input, #main #edit .edit-main .section .row-2 div label, #main #edit .edit-main .section .row-2 div input {
  width: 100%;
}
/* line 44, ../sass/sections/_edit.scss */
#main #edit .edit-main .section .row div label[type='checkbox'], #main #edit .edit-main .section .row div input[type='checkbox'], #main #edit .edit-main .section .row-2 div label[type='checkbox'], #main #edit .edit-main .section .row-2 div input[type='checkbox'] {
  display: inline;
  margin-right: 10px;
  width: auto;
}
/* line 50, ../sass/sections/_edit.scss */
#main #edit .edit-main .section .row div span, #main #edit .edit-main .section .row-2 div span {
  font-size: 12px;
  padding: 0 10px;
}
/* line 58, ../sass/sections/_edit.scss */
#main #edit .edit-main .section .row-2 div {
  width: 50%;
}
/* line 64, ../sass/sections/_edit.scss */
#main #edit aside {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  width: 180px;
}
/* line 69, ../sass/sections/_edit.scss */
#main #edit aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 73, ../sass/sections/_edit.scss */
#main #edit aside ul li {
  border-bottom: 1px solid #e1e1e1;
  display: block;
  padding: 20px 15px;
}
/* line 77, ../sass/sections/_edit.scss */
#main #edit aside ul li a {
  color: #7d878e;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
/* line 83, ../sass/sections/_edit.scss */
#main #edit aside ul li.active {
  background: #ecf0f7;
}
/* line 85, ../sass/sections/_edit.scss */
#main #edit aside ul li.active a {
  color: #2259a6;
}
/* line 2, ../sass/sections/_services.scss */
#main #services .service {
  border-bottom: 1px solid #999;
  margin: 0 0 30px 0;
}
/* line 5, ../sass/sections/_services.scss */
#main #services .service:last-of-type {
  margin: 0;
}
/* line 8, ../sass/sections/_services.scss */
#main #services .service div {
  display: inline-block;
  vertical-align: top;
}
/* line 11, ../sass/sections/_services.scss */
#main #services .service div:nth-of-type(1) {
  padding-right: 30px;
}
/* line 14, ../sass/sections/_services.scss */
#main #services .service div:nth-of-type(2) {
  width: -webkit-calc(100% - 250px);
  width: -moz-calc(100% - 250px);
  width: -o-calc(100% - 250px);
  width: calc(100% - 250px);
}
/* line 17, ../sass/sections/_services.scss */
#main #services .service div h3 {
  color: #2f66b5;
  font-weight: 300;
  margin: 2px 0;
  text-transform: uppercase;
}
/* line 23, ../sass/sections/_services.scss */
#main #services .service div p {
  font-size: 14px;
}
/* line 26, ../sass/sections/_services.scss */
#main #services .service div .similar_link {
  background: #2f66b5;
  border-radius: 2px;
  color: white;
  display: block;
  font-size: 12px;
  margin: 15px 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 190px;
}
/* line 1, ../sass/sections/_orders.scss */
#main #orders {
  padding: 0;
}
/* line 3, ../sass/sections/_orders.scss */
#main #orders nav.steps {
  display: block;
  width: 100%;
}
/* line 6, ../sass/sections/_orders.scss */
#main #orders nav.steps ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 10, ../sass/sections/_orders.scss */
#main #orders nav.steps ul li {
  background: #f6f7fa;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  width: 33.33333%;
}
/* line 20, ../sass/sections/_orders.scss */
#main #orders nav.steps ul li.active {
  background: white;
}
/* line 22, ../sass/sections/_orders.scss */
#main #orders nav.steps ul li.active span {
  background: #215aaa;
  border: 1px solid #f6f7fa;
  color: white;
}
/* line 28, ../sass/sections/_orders.scss */
#main #orders nav.steps ul li span {
  border: 1px solid #818284;
  border-radius: 50%;
  color: #818284;
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  padding: 1px 5px;
  vertical-align: top;
  width: 20px;
}
/* line 42, ../sass/sections/_orders.scss */
#main #orders .product_photo {
  color: inherit;
  display: inline-block;
  padding: 20px 20px 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  width: 170px;
}
/* line 51, ../sass/sections/_orders.scss */
#main #orders .product_photo img, #main #orders .product_photo span {
  display: block;
}
/* line 54, ../sass/sections/_orders.scss */
#main #orders .product_photo span {
  font-size: 12px;
}
/* line 57, ../sass/sections/_orders.scss */
#main #orders .product_photo img {
  min-height: 120px;
  margin-bottom: 20px;
  width: 100%;
}
/* line 63, ../sass/sections/_orders.scss */
#main #orders form {
  padding: 42px;
}
/* line 65, ../sass/sections/_orders.scss */
#main #orders form h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 71, ../sass/sections/_orders.scss */
#main #orders form .graphic_design, #main #orders form .attach_file {
  border-bottom: 1px solid #ececec;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
/* line 75, ../sass/sections/_orders.scss */
#main #orders form .graphic_design div, #main #orders form .attach_file div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
/* line 79, ../sass/sections/_orders.scss */
#main #orders form .graphic_design div label, #main #orders form .attach_file div label {
  padding: 0 20px 0 10px;
}
/* line 85, ../sass/sections/_orders.scss */
#main #orders form .attach_file p {
  display: inline;
  font-size: 12px;
  padding-right: 20px;
}
/* line 92, ../sass/sections/_orders.scss */
#main #orders form .details div {
  display: inline-block;
  padding-right: 25px;
  width: 33.33333%;
}
/* line 96, ../sass/sections/_orders.scss */
#main #orders form .details div select, #main #orders form .details div label {
  display: block;
  width: 100%;
}
/* line 101, ../sass/sections/_orders.scss */
#main #orders form .details .no-budgetable {
  display: block;
  padding: 10px 0;
  width: 100%;
}
/* line 105, ../sass/sections/_orders.scss */
#main #orders form .details .no-budgetable input, #main #orders form .details .no-budgetable textarea {
  width: 100%;
}
/* line 112, ../sass/sections/_orders.scss */
#main #orders .orders_step_3 .details_list {
  display: inline-block;
  padding-right: 40px;
  vertical-align: top;
  width: 33.33333%;
}
/* line 117, ../sass/sections/_orders.scss */
#main #orders .orders_step_3 .details_list dl {
  font-size: 12px;
}
/* line 119, ../sass/sections/_orders.scss */
#main #orders .orders_step_3 .details_list dl dt {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 14px;
  width: 80px;
}
/* line 125, ../sass/sections/_orders.scss */
#main #orders .orders_step_3 .details_list dl dd {
  display: inline-block;
  padding-bottom: 14px;
  margin: 0;
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: -o-calc(100% - 80px);
  width: calc(100% - 80px);
}
/* line 132, ../sass/sections/_orders.scss */
#main #orders .orders_step_3 .details_list .modify {
  border-bottom: 1px dotted #34ad65;
  color: #34ad65;
  font-size: 12px;
  margin: 6px 0 0 0;
  text-decoration: none;
}
/* line 140, ../sass/sections/_orders.scss */
#main #orders .orders_step_3 .budget {
  display: inline-block;
  vertical-align: top;
  width: 66.66667%;
}
/* line 144, ../sass/sections/_orders.scss */
#main #orders .orders_step_3 .budget p {
  font-size: 12px;
}
/* line 147, ../sass/sections/_orders.scss */
#main #orders .orders_step_3 .budget #cost {
  color: #2f66b5;
  display: block;
  font-size: 3em;
  margin: 15px 0;
}
/* line 2, ../sass/sections/_about-us.scss */
#main #about-us h2 {
  color: #2f66b5;
  font-weight: 300;
  margin: 2px 0;
}
/* line 7, ../sass/sections/_about-us.scss */
#main #about-us h3 {
  color: #2f66b5;
  font-size: 14px;
  font-weight: 300;
  margin: 2px 0;
  text-transform: uppercase;
}
/* line 14, ../sass/sections/_about-us.scss */
#main #about-us p {
  font-size: 12px;
}
/* line 2, ../sass/sections/_faq.scss */
#main #faq .faq {
  border-bottom: 1px solid #e2e2e2;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}
/* line 6, ../sass/sections/_faq.scss */
#main #faq .faq .question {
  color: #1a57a7;
  font-size: 14px;
  margin: 0 0 25px 0;
  padding: 0 0 0 40px;
  text-transform: uppercase;
}
/* line 13, ../sass/sections/_faq.scss */
#main #faq .faq .answer {
  font-size: 14px;
  margin: 0 0 0 40px;
  padding: 0 0 0 20px;
}
/* line 2, ../sass/sections/_contact.scss */
#main #contact div {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}
/* line 6, ../sass/sections/_contact.scss */
#main #contact div.submit {
  display: block;
}
/* line 9, ../sass/sections/_contact.scss */
#main #contact div label, #main #contact div input, #main #contact div textarea, #main #contact div select {
  display: block;
  margin: 10px 0;
}

/* line 1, ../sass/_footer.scss */
footer {
  color: #8e8e8e;
  font-size: 12px;
  padding-bottom: 40px;
}
/* line 5, ../sass/_footer.scss */
footer ul {
  border-bottom: 1px solid #eaeaea;
  margin: 0 0 10px 0;
  padding: 20px 0;
}
/* line 9, ../sass/_footer.scss */
footer ul li {
  display: inline-block;
  padding: 0 22px 0 0;
}
/* line 12, ../sass/_footer.scss */
footer ul li a {
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 17, ../sass/_footer.scss */
footer ul li a.active, footer ul li a:hover {
  color: #2f66b5;
}
