#budgets{
	padding: 0;
	@media #{$mobile}{
		min-height: 200%;
		position: absolute;
		top: 122px;
	}
	nav.steps{
		@extend .tabSteps; // _ui.scss
		ul{
			li{
				@media #{$mobile}{
					font-size: 0.7em;
					height: 90px;
				}
				span{
					@media #{$mobile}{
						display: block;
						margin: 0 auto 10px auto;
					}
				}
			}
		}
	}
	.product_photo{
		color: inherit;
		display: inline-block;
		padding: 20px 20px 20px 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		vertical-align: top;
		width: 170px;
		@media #{$mobile}{
			padding: 10px;
			width: 50%;
		}
		img, span{
			display: block;
		}
		span{
			font-size: $fontSizeXSmall;	
		}
		img {
			min-height: 120px;
			margin-bottom: 20px;
			width: 100%;
		}
	}
	form{
		padding: 42px;
		@media #{$mobile}{
			margin: 0 auto;
			padding: 0;
			width: 80%;
		}
		h3{
			@extend .bigBlue;
			font-size: $fontSizeSmall;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.graphic_design, .attach_file{
			border-bottom: 1px solid rgb(236, 236, 236);
			margin-bottom: 25px;
			padding-bottom: 25px;
			div{
				display: inline-block;
				vertical-align: top;
				width: 50%;
				@media #{$mobile}{
					display: block;
					margin: 20px 0;
					width: 100%;
				}
				label{
					padding: 0 20px 0 10px;
				}
			}
		}
		.attach_file{
			p{
				display: inline;
				font-size: $fontSizeXSmall;
				padding-right: 20px;
				@media #{$mobile}{
					display: block;
				}
			}
		}
		.details{
			div{
				display: inline-block;
				padding-right: 25px;
				width: (100% / 3);
				@media #{$mobile}{
					width: 50%;
				}
				select, label{
					display: block;
					width: 100%;
				}
			}
			.no-budgetable{
				display: block;
				padding: 10px 0;
				width: 100%;
				input, textarea{
					resize: none;
					width: 100%;
				}
			}
		}
	}
	.orders_step_3{
		.details_list{
			display: inline-block;
			padding-right: 40px;
			vertical-align: top;
			width: (100% / 3);
			dl{
				font-size: $fontSizeXSmall;
				dt{
					display: inline-block;
					font-weight: bold;
					padding-bottom: 14px;
					width: 80px;
				}
				dd{
					display: inline-block;
					padding-bottom: 14px;
					margin: 0;
					@include calc(width, '100% - 80px');
				}
			}
			.modify{
				border-bottom: 1px dotted $green;
				color: $green;
				font-size: $fontSizeXSmall;
				margin: 6px 0 0 0;
				text-decoration: none;
			}
		}
		.budget{
			display: inline-block;
			vertical-align: top;
			width: (200% / 3);
			p{
				font-size: $fontSizeXSmall;
			}
			#cost{
				color: $blue;
				display: block;
				font-size: 3em;
				margin: 15px 0;
			}
		}
	}
}
