#faq{
	@media #{$mobile}{
		min-height: calc(100% - 122px);
		position: absolute;
		top: 122px;
		z-index: 10000;
	}
	.faq{
		border-bottom: 1px solid rgb(226, 226, 226);
		margin: 0 0 20px 0;
		padding: 0 0 20px 0;
		.question{
			background: image-url("img_04_G.png") no-repeat center left;
			color: $blue;
			font-size: 0.8em;
			height: 30px;
			line-height: 30px;
			margin: 0 0 10px 0;
			padding: 0 0 0 40px;
			text-transform: uppercase;
		}
		.answer{
			background: image-url("enter-arrow.png") no-repeat top left;
			color: #666;
			font-size: 0.75em;
			line-height: 1.5em;
			margin: 0 0 0 40px;
			padding: 0 0 0 25px;
			@media #{$mobile}{
				padding: 0 25px;
			}
		}
	}
}
