#index{
	.index_wrapper{
		border-bottom: 1px solid rgb(240, 240, 241);
		font-size: 0;
		padding: 40px 0;
		.index_highlight{
			display: inline-block;
			margin: 0;
			padding: 0;
			vertical-align: top;
			width: (100% / 3);
			img{
				display: block;
				height: 250px;
				margin: 0 auto 10px auto;
				width: 250px;
			}
			span{
				color: rgb(134, 134, 136);
				display: block;
				font-size: $fontSizeSmall;
				text-align: center;
			}
		}
	}
	h3{
		color: $blue;
		font-weight: bold;
		margin: 40px 0 20px 0;
		text-align: center;
	}
	h4{
		color: #999;
		text-align: center;
	}
	form{
		margin: 0;
		padding: 10px;
		text-align: center;
	}
	.index_slider{
		ul{
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				height: 160px;
				margin: 0;
				padding: 10px;
				vertical-align: top;
				width: 160px;
				img{
					height: 100%;
					width: 100%;		
				}
				span{
					display: block;
					font-size: 0.8em;
					text-align: center;
					width: 100%;
				}
			}	
		}
	}
	.clients{
		text-align: center;
	}
	.contact{
		section{
			background: image-url("img_18.png") no-repeat;
			background-position: center bottom;
			display: inline-block;
			min-height: 480px;
			vertical-align: top;
			width: (200% / 3);
		}
		form{
			display: inline-block;
			vertical-align: top;
			width: (100% / 3);
			div{
				margin-bottom: 10px;
				input, textarea{
					width: 100%;
				}
			}
		}
		.info{
			display: inline-block;
			min-height: 60px;
			padding-left: 80px;
			vertical-align: top;
			width: 50%;
			&.home{ background: image-url("img_15.png") no-repeat; }
			&.phone{ background: image-url("img_16.png") no-repeat; }
			&.digital{ background: image-url("img_17.png") no-repeat; width: 100%; }
			span{
				display: block;
				font-size: $fontSizeSmall;
				&:first-of-type{
					color: $blue;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
			}
		}
	}
}