#login{
	h3{
		color: $blue;
		font-size: $fontSizeXSmall;
		font-weight: 600;
		margin: 15px 0;
		text-transform: uppercase;
	}
	form{
		width: 250px;
		label{
			color: #999;
			font-weight: normal;
		}
		input{
			display: block;
			width: 100%;
		}
		input[type=submit]{
			
		}
	}
	a{
		color: #999;
		font-size: 0.55em;
		font-weight: normal;
		text-transform: uppercase;
	}
}
