#orders{
	padding: 0;
	nav.steps{
		display: block;
		width: 100%;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				background: rgb(246, 247, 250);
				display: inline-block;
				font-size: $fontSizeXSmall;
				margin: 0;
				padding: 20px 0;
				text-align: center;
				text-transform: uppercase;
				vertical-align: top;
				width: (100% / 3);
				&.active{
					background: white;
					span{
						background: rgb(33, 90, 170);
						border: 1px solid rgb(246, 247, 250);
						color: white;
					}
				}
				span{
					border: 1px solid rgb(129, 130, 132);
					border-radius: 50%;
					color: rgb(129, 130, 132);
					display: inline-block;
					height: 20px;
					margin-right: 15px;
					padding: 1px 5px;
					vertical-align: top;
					width: 20px;
				}
			}
		}
	}
	.product_photo{
		color: inherit;
		display: inline-block;
		padding: 20px 20px 20px 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		vertical-align: top;
		width: 170px;
		img, span{
			display: block;
		}
		span{
			font-size: $fontSizeXSmall;	
		}
		img {
			min-height: 120px;
			margin-bottom: 20px;
			width: 100%;
		}
	}
	form{
		padding: 42px;
		h3{
			@extend .bigBlue;
			font-size: $fontSizeSmall;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.payment_options, .graphic_design, .attach_file{
			border-bottom: 1px solid rgb(236, 236, 236);
			margin-bottom: 25px;
			padding-bottom: 25px;
			div{
				display: inline-block;
				vertical-align: top;
				width: 50%;
				label{
					padding: 0 20px 0 10px;
				}
			}
		}
		.attach_file{
			p{
				display: inline;
				font-size: $fontSizeXSmall;
				padding-right: 20px;
			}
		}
		.details{
			div{
				display: inline-block;
				padding-right: 25px;
				width: (100% / 3);
				select, label{
					display: block;
					width: 100%;
				}
			}
			.no-budgetable{
				display: block;
				padding: 10px 0;
				width: 100%;
				input, textarea{
					width: 100%;
				}
			}
		}
	}
	.orders_step_3{
		.details_list{
			display: inline-block;
			padding-right: 40px;
			vertical-align: top;
			width: (100% / 3);
			dl{
				font-size: $fontSizeXSmall;
				dt{
					display: inline-block;
					font-weight: bold;
					padding-bottom: 14px;
					width: 80px;
				}
				dd{
					display: inline-block;
					padding-bottom: 14px;
					margin: 0;
					@include calc(width, '100% - 80px');
				}
			}
			.modify{
				border-bottom: 1px dotted $green;
				color: $green;
				font-size: $fontSizeXSmall;
				margin: 6px 0 0 0;
				text-decoration: none;
			}
		}
		.budget{
			display: inline-block;
			vertical-align: top;
			width: (200% / 3);
			p{
				font-size: $fontSizeXSmall;
			}
			#cost{
				color: $blue;
				display: block;
				font-size: 3em;
				margin: 15px 0;
			}
		}
		.shipping{
			padding: 20px 0;
			div {
				display: inline-block;
				padding-right: 30px;
				vertical-align: top;
				width: 50%;
				label, input{
					width: 100%;
					&[type='checkbox']{
						display: inline;
						margin-right: 10px;
						width: auto;
					}
				}
				span{
					font-size: $fontSizeXSmall;
					padding: 0 10px;
				}
			}
		}
	}
}
