#orders{
	padding: 0;
	nav.steps{
		display: block;
		width: 100%;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				background: rgb(246, 247, 250);
				display: inline-block;
				font-size: $fontSizeXSmall;
				margin: 0;
				padding: 20px 0;
				text-align: center;
				text-transform: uppercase;
				vertical-align: top;
				width: (100% / 3);
				&.active{
					background: white;
					span{
						background: rgb(33, 90, 170);
						border: 1px solid rgb(246, 247, 250);
						color: white;
					}
				}
				span{
					border: 1px solid rgb(129, 130, 132);
					border-radius: 50%;
					color: rgb(129, 130, 132);
					display: inline-block;
					height: 20px;
					margin-right: 15px;
					padding: 1px 5px;
					vertical-align: top;
					width: 20px;
				}
			}
		}
	}
	.product_photo{
		color: inherit;
		display: inline-block;
		padding: 20px 20px 20px 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		vertical-align: top;
		width: 170px;
		img, span{
			display: block;
		}
		span{
			font-size: $fontSizeXSmall;	
		}
		img {
			min-height: 120px;
			margin-bottom: 20px;
			width: 100%;
		}
	}
	form{
		padding: 42px;
		h3{
			@extend .bigBlue;
			font-size: $fontSizeSmall;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.graphic_design{
			border-bottom: 1px solid rgb(236, 236, 236);
			margin-bottom: 25px;
			padding-bottom: 25px;
			div{
				display: inline-block;
				vertical-align: top;
				width: 50%;
			}
		}
		.details{
			div{
				display: inline-block;
				padding-right: 25px;
				width: (100% / 3);
				select, label{
					display: block;
					width: 100%;
				}
			}
		}
	}
}
