#register{
	@media #{$mobile}{
		min-height: calc(100% - 122px);
		position: absolute;
		text-align: center;
		top: 122px;
	}
	.title{
		color: $blue;
		font-size: 1em;
		font-weight: normal;
		margin: 15px 0;
		text-transform: uppercase;
	}
	.section{
		border-bottom: 1px solid rgb(225, 225, 225);
		margin: 25px 0 30px 0;
		h3{
			color: $blue;
			font-size: $fontSizeXSmall;
			font-weight: 600;
			margin: 15px 0;
			text-transform: uppercase;
		}
		.account_type label{
			padding: 0 15px 0 10px;
		}
		.row, .row-2{
			padding-bottom: 20px;
			div {
				display: inline-block;
				padding-right: 30px;
				vertical-align: top;
				width: 25%;
				@media #{$mobile}{
					margin: 0 auto;
					text-align: left;
					width: 80%;
				}
				label, input{
					width: 100%;
					&[type='checkbox']{
						display: inline;
						margin-right: 10px;
						width: auto;
					}
				}
				span{
					font-size: $fontSizeXSmall;
					padding: 0 10px;
				}
			}
		}
		.row-2{
			div{
				display: block;
				padding-bottom: 20px;
				width: 50%;
				@media #{$mobile}{
					margin: 0 auto;
					text-align: left;
					width: 80%;
				}
				input{
					margin-bottom: 20px;
				}
			}
		}
	}
}
